<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/default.css">
		<title>$title</title>
		$additional_head
	<head>
	<body $body_class>
		<h1>$body_headline</h1>
		$body
		$body_footer
	</body>
<html>
